<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free waroengku catalogue for you">
    <meta name="theme-color" content="#008000"/>
    <link rel="apple-touch-icon" href="/icons/icons-192x192.png">
    <link rel="icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
      crossorigin="anonymous"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Waroengku Apps</title>
</head>

<body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <navbar-comps></navbar-comps>
    <main tabindex="0" id="mainContent"></main>
    <footer-comps></footer-comps>
</body>
</html>
